form {
  margin: 0 auto;
  width: 700px;
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
}

textarea {
  margin: 10px;
}

button {
  margin: 10px;
}

.error {
  border: 2px solid red;
}